<section class="content">
    <% include navbar %>
    <h1>Applicants</h1>
    <div class="box">
            <div class="box-header">
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" id="search" name="table_search" class="form-control pull-right" onkeyup="search()" placeholder="Search by name">
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table id="applicants" class="table table-hover">
                   <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>university</th>
                            <th>faculty</th>

                            <th>Workshop</th>
                            <th>Second Workshop</th>
                        </tr>
                   </thead>
                   <tbody>
                    <% for(i=0; i < data.length; i++){%>
                      <tr>
                        <td><%= data[i].id %></td>
                        <td><%= data[i].name %></td>
                        <td><%= data[i].phone %></td>
                        <td><%= data[i].email %></td>
                        <td><span class="status label label-success">Approved</span></td>
                        <td><%= data[i].university %></td>
                        <td><%= data[i].faculty %></td>
                        <td><%= data[i].firstChoice %></td>
                        <td><%= data[i].secondChoice %></td>

                      </tr>
                    <%}%>
                   </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

</section>