<section class="content">
    <% include navbar %>
    <h1>Applicants</h1>
    <div class="box">
            <div class="box-header">
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" id="search" name="table_search" class="form-control pull-right" onkeyup="search()" placeholder="Search by name">
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div  id="applicants"  class="box-body table-responsive no-padding">
              <div class="call-info">
                <div class="info-container p-3">
                  <i class="close fa fa-times" aria-hidden="true"></i>
                  <form class="mt-3 mr-3" method="post">
                    <div class="form-group">
                        <label>Call date:</label>
                        <input type="datetime" class="form-control" name="callDate">
                    </div>
                    <div class="form-group">
                        <label>Call time:</label>
                        <input class="form-control" name="callTime">
                    </div>
                    <div class="form-group">
                      <label>HR Called:</label>
                      <input class="form-control" name="adminName" placeholder="HR's name.(eg:- Maryam Farrag)">
                    </div>
                    <div class="form-group">
                      <label>Interview date:</label>
                      <input class="form-control" name="interviewDate" placeholder="yyyy/mm/dd">
                    </div>
                    <div class="form-group">
                      <label>Interview Time:</label>
                      <input type="datetime" class="form-control" name="interviewTime" placeholder="hh:mm:ss">
                    </div>
                    <button id="submit-btn" class="btn btn-primary float-right" type="submit">Submit</button>
                  </form>
                </div>
              </div>     
              <table class="table table-hover">
                   <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Status</th>
                            <th>Workshop</th>
                            <th>Second Workshop</th>
                            <th>Interview Date</th>
                            <th>Interviewer</th>
                            <th>Notes</th>
                            <th>Calls</th>
                        </tr>
                   </thead>
                   <tbody>
                    <% for(i=0; i < data.length; i++){%>
                      <tr class="less-data">
                        <td id="<%= i %>"><%= data[i].id %></td>
                        <td><%= data[i].name %></td>
                        <td><span class="status"><%= data[i].status%></span></td>
                        <td><%= data[i].firstChoice %></td>
                        <td><%= data[i].secondChoice %></td>
                        <td><%= data[i].interviewDate %></td>
                        <td><%= data[i].interviewer %></td>
                        <td><%= data[i].note %></td>
                        <td><button id="call-btn" class="btn">Call</button></td> 
                      </tr>
                      <tr class='full-data'>
                        <td class="data" colspan=13>
                            <i class="close fa fa-times" aria-hidden="true"></i>
                            <span><strong>University:</strong> <%= data[i].university %></span>
                            <span><strong>Faculty: </strong><%= data[i].faculty %></span><br><br>
                            <span><strong>Phone: </strong><%= data[i].phone %></span>
                            <span><strong>E-mail: </strong><%= data[i].email%></span><br><br>
                        </td>
                       
                      </tr>
                    <%}%>
                   </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

</section>